<!DOCTYPE html>
<html lang="en">
@{ var controller = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower();}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/lightslider.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script>var _a = [];</script>
</head>
<body>
    <div class="d-flex" id="wrapper">
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading" style="height:88px;padding-left:.25em;padding-right:.25em;">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <h1>Game Store</h1>
                </a>
            </div>
            <div class="list-group list-group-flush">
                <a asp-controller="Categories" asp-action="Index" data-controller="categories" con class="list-group-item list-group-item-action bg-light">Categories</a>
                <a asp-controller="Games" asp-action="Index" data-controller="games" class="list-group-item list-group-item-action bg-light">Games</a>
                <a asp-controller="Companies" asp-action="Index" data-controller="companies" class="list-group-item list-group-item-action bg-light">Companies</a>
                <a asp-controller="Updates" asp-action="Index" data-controller="updates" class="list-group-item list-group-item-action bg-light">Updates/Patches/Skins</a>
               @if (User.IsInRole("Admin"))
               {
                <a asp-controller="Roles" asp-action="Index" data-controller="roles" class="list-group-item list-group-item-action bg-light">Roles</a>
                <a asp-controller="UserRoles" asp-action="Index" data-controller="userroles" class="list-group-item list-group-item-action bg-light">User Roles</a>
               }
            </div>
        </div>

        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="height:88px;">
                <button class="btn btn-primary menubtn
                        " id="menu-toggle">
                    Menu
                </button>
                <div class="container">
                   
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div style="text-align:right;">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </nav>

            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; @DateTime.Now.Year - Avinder GameStore
                </div>
            </footer>

        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/lightslider.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
        $('.list-group-item').each(function () { if ($(this).data("controller") === '@controller') $(this).addClass('active'); });
        for (var i = 0; i < _a.length; i++)_a[i]();
    </script>
</body>
</html>
